.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-table-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-16 {
  background-image: none;
}

.u-section-1 .u-table-cell-31 {
  background-image: none;
}

.u-section-1 .u-table-cell-46 {
  background-image: none;
}

.u-section-1 .u-table-cell-61 {
  background-image: none;
}

.u-section-1 .u-table-cell-76 {
  background-image: none;
}

.u-section-1 .u-table-cell-91 {
  background-image: none;
}

.u-section-1 .u-table-cell-106 {
  background-image: none;
}

.u-section-1 .u-table-cell-121 {
  background-image: none;
}

.u-block-50fd-27 {
  background-image: none;
}