 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 555px;
}

.u-section-1 .u-text-1 {
  margin: 98px auto 0;
}

.u-section-1 .u-form-1 {
  height: 83px;
  width: 414px;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  width: 570px;
  margin: 98px auto 60px;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}