.header {
    display: flex;
    flex-direction: row;
    min-width: 100%;
    background-color: #5469d4;
    color: #f7f4eb;
    font-family: 'Helvetica';
}

.header>* {
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
}

#signout {
    text-align: right;
    cursor: pointer;
}

#myChart {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}



/* CSS */
.button-43 {
  background-image: linear-gradient(-180deg, #37AEE2 0%, #5469d4 100%);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-size: 16px;
  justify-content: center;
  padding: 1rem 1.75rem;
  text-decoration: none;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  border: 0;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-43:hover {
  background-image: linear-gradient(-180deg, #5469d5 0%, #5469d7 100%);
}

@media (min-width: 768px) {
  .button-43 {
    padding: 1rem 2rem;
  }
}