<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}

    <meta charset="utf-8">
    <meta name="keywords" content="mavefund finance stocks">
    <meta name="description" content="mavefund is an online startup company which aims to deliver top quality data to customers for the lowers fees">

    <title>{% block title %}{% endblock %} - MaveFund</title>

    <link rel="icon" type="image/x-icon" href="../static/favicon.ico">

    <link rel="stylesheet" type="text/css" href="../static/css/nicepage.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css" media="screen">

    <script type="text/javascript" src="../static/js/jquery.js" defer=""></script>
    <script type="text/javascript" src="../static/js/nicepage.js" defer=""></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i">

{% endblock %}

</head>
<body class="u-body u-stick-footer u-xl-mode" data-lang="en">

<header class="u-clearfix u-header u-palette-1-dark-2 u-sticky u-header" id="sec-ca57">
    <div class="u-clearfix u-sheet u-sheet-1">
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
            <div class="menu-collapse">
                <a class="u-button-style u-nav-link" href="#" style="padding: 10px 14px; font-size: calc(1em + 20px);">
                    <svg class="u-svg-link" viewBox="0 0 24 24">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-7fd6"></use>
                    </svg>
                    <svg class="u-svg-content" version="1.1" id="svg-7fd6" viewBox="0 0 16 16" x="0px" y="0px"
                         xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                        <g>
                            <rect y="1" width="16" height="2"></rect>
                            <rect y="7" width="16" height="2"></rect>
                            <rect y="13" width="16" height="2"></rect>
                        </g>
                    </svg>
                </a>
            </div>
            <div class="u-custom-menu u-nav-container">
                <ul class="u-nav u-unstyled">
                    <li class="u-nav-item">
                        <a class="u-button-style u-nav-link" href="/" style="padding: 20px;">Home</a>
                    </li>
                    <li class="u-nav-item">
                        <a class="u-button-style u-nav-link" href="/dashboard" style="padding: 20px;">Dashboard</a>
                    </li>
                    <li class="u-nav-item">
                        <a class="u-button-style u-nav-link" href="/plans" style="padding: 20px;">Premium Plans</a>
                    </li>

                    {% if request.user == None %}

                    <li class="u-nav-item">
                        <a class="u-button-style u-nav-link" href="/login" style="padding: 20px;">Login</a>
                    </li>
                    <li class="u-nav-item">
                        <a class="u-button-style u-nav-link" href="/register" style="padding: 20px;">Register</a>
                    </li>

                    {% else %}

                    <li class="u-nav-item"></li>

                    <li class="u-nav-item">
                        <a class="u-button-style u-nav-link" href="/logout" style="padding: 20px;">Logout</a>
                    </li>

                    {% endif %}
                </ul>
            </div>
            <div class="u-custom-menu u-nav-container-collapse">
                <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
                    <div class="u-inner-container-layout u-sidenav-overflow">
                        <div class="u-menu-close"></div>
                        <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                            <li class="u-nav-item">
                                <a class="u-button-style u-nav-link" href="/">Home</a>
                            </li>
                            <li class="u-nav-item">
                                <a class="u-button-style u-nav-link" href="/dashboard">Dashboard</a>
                            </li>
                            <li class="u-nav-item">
                                <a class="u-button-style u-nav-link" href="/plans">Premium Plans</a>
                            </li>

                            {% if request.user == None %}

                            <li class="u-nav-item">
                                <a class="u-button-style u-nav-link" href="/login" style="padding: 20px;">Login</a>
                            </li>
                            <li class="u-nav-item">
                                <a class="u-button-style u-nav-link" href="/register" style="padding: 20px;">Register</a>
                            </li>

                            {% else %}

                            <li class="u-nav-item">
                                <a class="u-button-style u-nav-link" href="/logout" style="padding: 20px;">Logout</a>
                            </li>

                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
            </div>
        </nav>
        <a href="/" class="u-image u-logo u-image-1" data-image-width="172" data-image-height="106" title="Home">
            <img src="../static/images/mavefund.png" class="u-logo-image u-logo-image-1" alt="mavefund logo">
        </a>
    </div>
</header>

{% block body %}{% endblock %}

<footer class="u-align-center-md u-align-center-sm u-align-center-xs u-clearfix u-footer u-grey-80" id="sec-1e0e">
    <div class="u-clearfix u-sheet u-valign-middle-sm u-valign-middle-xs u-sheet-1">
        <p class="u-align-center-lg u-align-center-md u-align-center-xl u-custom-font u-font-lato u-text u-text-1">
            MaveFund&trade; All rights reserved</p>
    </div>
</footer>

</body>
</html>