{% extends "base.html" %}

{% block title %}Error{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="../static/css/error.css">
{% endblock %}

{% block body %}

<section class="u-clearfix u-section-1" id="sec-f1c2">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-text u-text-default u-text-1">Aw snap!&nbsp;<span class="u-file-icon u-icon u-text-white"><img
                src="../static/images/sad_white.png" alt=""></span>
        </h1>
        <p class="u-align-center u-custom-font u-font-lato u-text u-text-default u-text-2">
            {{ error_message|default("This wasn't supposed to happen!<br>We are working tirelessly on a solution.", true) }}

            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </p>
    </div>
</section>

{% endblock %}
