{% extends "base.html" %}

{% block title %}Table{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="../static/css/grid_view.css">
{% endblock %}

{% block body %}

<section class="u-clearfix u-section-1" id="sec-bd4e">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-expanded-width u-table u-table-responsive u-table-1">
            <table class="u-table-entity">
                <colgroup>
                    <col width="4.8%">
                    <col width="6.8%">
                    <col width="7.4%">
                    <col width="7.5%">
                    <col width="6.7%">
                    <col width="6.8%">
                    <col width="6.5%">
                    <col width="6.9%">
                    <col width="6.5%">
                    <col width="6.6%">
                    <col width="6.5%">
                    <col width="6.6%">
                    <col width="6.8%">
                    <col width="6.600000000000014%">
                    <col width="7.500000000000014%">
                </colgroup>
                <thead class="u-palette-4-base u-table-header u-table-header-1">
                <tr style="height: 21px;">
                    <th class="u-border-1 u-border-palette-4-base u-table-cell"></th>
                    <th class="u-border-1 u-border-palette-4-base u-table-cell"></th>
                    <th class="u-border-1 u-border-palette-4-base u-table-cell"></th>
                    <th class="u-border-1 u-border-palette-4-base u-table-cell"></th>
                    <th class="u-border-1 u-border-palette-4-base u-table-cell"></th>
                    <th class="u-border-1 u-border-palette-4-base u-table-cell"></th>
                    <th class="u-border-1 u-border-palette-4-base u-table-cell"></th>
                    <th class="u-border-1 u-border-palette-4-base u-table-cell"></th>
                    <th class="u-border-1 u-border-palette-4-base u-table-cell"></th>
                    <th class="u-border-1 u-border-palette-4-base u-table-cell"></th>
                    <th class="u-border-1 u-border-palette-4-base u-table-cell"></th>
                    <th class="u-border-1 u-border-palette-4-base u-table-cell"></th>
                    <th class="u-border-1 u-border-palette-4-base u-table-cell"></th>
                    <th class="u-border-1 u-border-palette-4-base u-table-cell"></th>
                    <th class="u-border-1 u-border-palette-4-base u-table-cell"></th>
                </tr>
                </thead>
                <tbody class="u-table-body">
                <tr style="height: 75px;">
                    <td class="u-border-1 u-border-grey-30 u-first-column u-grey-5 u-table-cell u-table-cell-16"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                </tr>
                <tr style="height: 76px;">
                    <td class="u-border-1 u-border-grey-30 u-first-column u-grey-5 u-table-cell u-table-cell-31"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                </tr>
                <tr style="height: 76px;">
                    <td class="u-border-1 u-border-grey-30 u-first-column u-grey-5 u-table-cell u-table-cell-46"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                </tr>
                <tr style="height: 76px;">
                    <td class="u-border-1 u-border-grey-30 u-first-column u-grey-5 u-table-cell u-table-cell-61"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                </tr>
                <tr style="height: 76px;">
                    <td class="u-border-1 u-border-grey-30 u-grey-5 u-table-cell u-table-cell-76"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                </tr>
                <tr style="height: 76px;">
                    <td class="u-border-1 u-border-grey-30 u-grey-5 u-table-cell u-table-cell-91"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                </tr>
                <tr style="height: 76px;">
                    <td class="u-border-1 u-border-grey-30 u-grey-5 u-table-cell u-table-cell-106"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                </tr>
                <tr style="height: 76px;">
                    <td class="u-border-1 u-border-grey-30 u-grey-5 u-table-cell u-table-cell-121"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                    <td class="u-border-1 u-border-grey-30 u-table-cell"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

{% endblock %}