{% extends "base.html" %}

{% block content %}

    <div id="container" class="content">
        <div class="search-bar">
            <h1 class="heading">MaveFund</h1>
            <div class="search-wrapper">
                <div class="input-holder">
                    <input id="search-company" type="text" class="search-input" placeholder="Type to search"/>
                    <button class="search-icon"><span></span></button>
                </div>
                <span class="close"></span>
            </div>
        </div>

        {% if tickers %}

            {% for ticker, company_name in tickers.items() %}

                <li class="company">
                    <a href="/dashboard/{{ ticker.upper() }}">
                        {{ ticker.upper() }} - {{ company_name }}
                    </a>
                </li>

            {% endfor %}

        {% endif %}

    </div>

{% endblock %}