{% include "header.html" %}

<div class="content">

  <h2>We Deliver Sheer Economic Value to Investors</h2>
  <p>
    Maverick Fund is a startup-like fund founded by Cambridge graduates with the aim to develop investment
    vehicles that systematically outperform both passive and active investing strategies that are currently in the market.
    We combine mathematical theory with sound financial experience onto a proprietary Algorithm that has outperformed S&P 500
    and numerous Hedge Fund Strategies.
  </p>
</div>

{% include "footer.html" %}