<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - MaveFund</title>
    <link rel="stylesheet" href="login.css">
    <link rel="icon" type="image/x-icon" href="default.jpg">
</head>
<body>
<h1 class="heading">MaveFund</h1>
<div class="container" id="container">
    <div class="form-container sign-up-container">
        <form action="#">
            <h1>Create a MaveFund account</h1>
            <br>
            <input type="text" placeholder="Name" />
            <input type="email" placeholder="Email" />
            <input type="password" placeholder="Password" />
            <button>Sign Up</button>
            <p class="error"></p>
        </form>
    </div>
    <div class="form-container sign-in-container">
        <form action="#">
            <h1>Sign in</h1>
            <br>
            <input type="email" placeholder="Email" />
            <input type="password" placeholder="Password" />
            <a href="#" class="forgot-password">Forgot your password?</a>
            <button>Sign In</button>
            <p class="error"></p>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Already got an account?</h1>
                <p>Log in now!</p>
                <button class="ghost" id="signIn">Sign In</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Sign Up Now!</h1>
                <p>If you don't already got an MaveFund account, create one here!</p>
                <button class="ghost" id="signUp">Sign Up</button>
            </div>
        </div>
    </div>
</div>
<footer>MaveFund™ All rights reserved</footer>
<script src="login.js"></script>
</body>
</html>