<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Premium Packages - MaveFund</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="imgs/default.jpg">
</head>
<style>
    @media (max-width:600px) {
        .login {
            top: 22%;
            left: 85%;
        }

        .heading {
            top: 5%

        }
    }

    @media (max-width: 900px) and (min-width: 600px) {
        .login {
            top: 25%;
            left: 80%;
        }

        .heading {
            top: 20%

        }

        .nav > .nav-btn {
            top: 8%;
        }
    }
</style>
<body>
<div class="logo-nav"><a href="home.html"><img class="logo" src="../static/image/mavefund.png" alt="logo"></a></div>
<center>
    <h1 class="heading">Premium</h1>
    <div ><button class="login"><a href="login/login.html" target="_blank">LOGIN</a></button></div>

    <div class="nav">
        <input type="checkbox" id="nav-check">
        <div class="nav-btn">
            <label for="nav-check">
                <span></span>
                <span></span>
                <span></span>
            </label>
        </div>

        <nav>
            <ul>
                <div ><img src="icons/homepagewhite.png" alt=""> <li><a href="home.html">Home</a></li></div> <br>
                <div ><img src="icons/dashboardwhite.png" alt=""> <li><a href="dashboard.html">Dashboard</a></li></div> <br>
                <div ><img src="icons/box.png" alt=""> <li><a class="active" href="package.html">Premium</a></li></div> <br>
            </ul>
        </nav>


        <div class="packages">
            <div class="information">
                <table class="u-table-entity">
                    <thead class="u-table-header-1">
                    <th class="u-table-cell-1">Compare all plans</th>
                    <th class="u-table-cell-2"><b>BASIC</b>
                    </th>
                    <th class="u-table-cell-3"><b>PREMIUM</b>
                    </th>
                    <th class="u-table-cell-4"><b>SUPER</b>
                        <br>
                    </th>
                    </tr>
                    </thead>
                    <tbody class="u-table-body-1">
                    <tr>
                        <td class="u-table-cell-5">Price / month</td>
                        <td class="u-table-cell-6">$0.99</td>
                        <td class="u-table-cell-7">$1.99</td>
                        <td class="u-table-cell-8">$2.99</td>
                    </tr>
                    <tr>
                        <td class="u-table-cell-9">Access to all 10,000 CSV file</td>
                        <td class="u-table-cell-10">✔</td>
                        <td class="u-table-cell-11">✓</td>
                        <td class="u-table-cell-12">✓</td>
                    </tr>
                    <tr>
                        <td class="u-table-cell-13">Dashboard display for all companies</td>
                        <td class="u-table-cell-14">✓</td>
                        <td class="u-table-cell-15">✓</td>
                        <td class="u-table-cell-16">✓</td>
                    </tr>
                    <tr>
                        <td class="u-table-cell-17">Get quarterly data</td>
                        <td class="u-table-cell-18">✕</td>
                        <td class="u-table-cell-19">✓</td>
                        <td class="u-table-cell-20">✓</td>
                    </tr>
                    <tr>
                        <td class="u-table-cell-21">API key with access to Yearly data</td>
                        <td class="u-table-cell-22">✕</td>
                        <td class="u-table-cell-23">✓</td>
                        <td class="u-table-cell-24">✓</td>
                    </tr>
                    <tr>
                        <td class="u-table-cell-25">API key with access to Quarterly data</td>
                        <td class="u-table-cell-26">✕</td>
                        <td class="u-table-cell-27">✕</td>
                        <td class="u-table-cell-28">✓</td>
                    </tr>
                    <tr>
                        <td class="u-table-cell-29"></td>
                        <td class="u-table-cell-30">
                            <button class="buy-button">GET</button>
                        </td>
                        <td class="u-table-cell-31">
                            <button class="buy-button">GET</button>
                        </td>
                        <td class="u-table-cell-32">
                            <button class="buy-button">GET</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <footer>MaveFund™ All rights reserved</footer>
        <script src="script.js"></script>
</body>
</html>