<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>Register - MaveFund</title>
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico">
    <link rel="stylesheet" href="../static/css/nicepage.css" media="screen">
    <link rel="stylesheet" href="../static/css/register.css" media="screen">
    <script type="text/javascript" src="../static/js/jquery.js"></script>
    <script type="text/javascript" src="../static/js/nicepage.js"></script>
    <script type="text/javascript" src="../static/js/script.js"></script>
    <meta name="referrer" content="origin">
    <link id="u-theme-google-font" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i">
    <link id="u-page-google-font" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i">
    <meta name="theme-color" content="#0d0d0d">
    <meta property="og:title" content="register">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
</head>
<body class="u-body u-stick-footer u-xl-mode" data-lang="en">
<header class="u-clearfix u-header u-sticky u-header" id="sec-ca57">
    <div class="u-clearfix u-sheet u-sheet-1">
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
            <div class="menu-collapse">
                <a class="u-button-style u-nav-link" href="#" style="padding: 10px 14px; font-size: calc(1em + 20px);">
                    <svg class="u-svg-link" viewBox="0 0 24 24">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-7fd6"></use>
                    </svg>
                    <svg class="u-svg-content" id="svg-7fd6" viewBox="0 0 16 16" x="0px" y="0px"
                         xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                        <g>
                            <rect y="1" width="16" height="2"></rect>
                            <rect y="7" width="16" height="2"></rect>
                            <rect y="13" width="16" height="2"></rect>
                        </g>
                    </svg>
                </a>
            </div>
            <div class="u-custom-menu u-nav-container">
                <ul class="u-nav u-unstyled">
                    <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/plans" style="padding: 20px;">Premium
                        Plans</a>
                    </li>
                    <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/" style="padding: 20px;">Home</a>
                    </li>
                    <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/login" style="padding: 20px;">login</a>
                    </li>
                    <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/register"
                                              style="padding: 20px 1px 20px 20px;">register</a>
                    </li>
                </ul>
            </div>
            <div class="u-custom-menu u-nav-container-collapse">
                <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
                    <div class="u-inner-container-layout u-sidenav-overflow">
                        <div class="u-menu-close"></div>
                        <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                            <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/plans">Premium Plans</a>
                            </li>
                            <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/">Home</a>
                            </li>
                            <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/login">login</a>
                            </li>
                            <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/register">register</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
            </div>
        </nav>
        <a href="/" class="u-image u-logo u-image-1" data-image-width="172" data-image-height="106"
           title="Home">
            <img src="../static/images/mavefund.png" class="u-logo-image u-logo-image-1" alt="mavefund logo">
        </a>
    </div>
</header>
<section class="u-clearfix u-section-1" id="sec-8ff2">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-form u-form-1">
            <form class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form"
                  name="form"
                  style="padding: 10px;">
                <div class="u-form-group u-form-name u-label-none">
                    <label for="username"
                           class="u-custom-font u-form-control-hidden u-label u-text-font u-label-1"></label>
                    <input type="text" placeholder="Enter your Username" id="username" name="text"
                           class="u-border-grey-30 u-input u-input-rectangle u-input-1" required="" maxlength="32"
                           autocomplete="username">
                </div>
                <div class="u-form-email u-form-group u-label-none">
                    <label for="email" class="u-custom-font u-label u-text-font u-label-2">Email *</label>
                    <input type="email" placeholder="Enter an Email address" id="email" name="email"
                           class="u-border-grey-30 u-input u-input-rectangle u-input-2" required="" maxlength="64"
                           autocomplete="email">
                </div>
                <div class="u-form-group u-label-none u-form-group-3">
                    <label for="password" class="u-custom-font u-label u-text-font u-label-3">Password *</label>
                    <input type="password" placeholder="Enter your password" id="password" name="password"
                           class="u-border-grey-30 u-input u-input-rectangle u-input-3" required="required"
                           maxlength="64" autocomplete="new-password">
                </div>
                <div class="u-form-group u-label-none u-form-group-3">
                    <label for="repeat_password" class="u-custom-font u-label u-text-font u-label-3">Repeat Password *</label>
                    <input type="password" placeholder="Repeat your password" id="repeat_password" name="password"
                           class="u-border-grey-30 u-input u-input-rectangle u-input-3" required="required"
                           maxlength="64" autocomplete="new-password">
                </div>
                <div class="u-align-center u-form-group u-form-submit u-label-none">
                    <a class="custom-page-typo-item u-btn u-btn-submit u-button-style" data-animation-name=""
                       data-animation-duration="0" data-animation-delay="0" data-animation-direction=""
                       onclick="register()">Register<br>
                    </a>
                    <input type="submit" value="submit" class="u-form-control-hidden">
                </div>
            </form>
        </div>
        <p id="error" class="u-align-center u-custom-font u-font-lato u-text u-text-custom-color-25 u-text-1"></p>
    </div>
</section>


<footer class="u-align-center-md u-align-center-sm u-align-center-xs u-clearfix u-footer u-grey-80" id="sec-1e0e">
    <div class="u-clearfix u-sheet u-valign-middle-sm u-valign-middle-xs u-sheet-1">
        <p class="u-align-center-lg u-align-center-md u-align-center-xl u-custom-font u-font-lato u-text u-text-1">
            MaveFund © All rights reserved</p>
    </div>
</footer>

</body>
</html>