{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="../static/css/register.css">
    <script type="text/javascript" src="../static/js/register.js" defer=""></script>
{% endblock %}

{% block body %}

<section class="u-clearfix u-section-1" id="sec-8ff2">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-form u-form-1">
            <form id="register-form"
                  class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form"
                  name="form"
                  style="padding: 10px;">
                <div class="u-form-group u-form-name u-label-none">
                    <label for="username"
                           class="u-custom-font u-form-control-hidden u-label u-text-font u-label-1"></label>
                    <input id="username"
                           type="text" placeholder="Enter your Username" name="text"
                           class="u-border-grey-30 u-input u-input-rectangle u-input-1" required=""
                           maxlength="32" autocomplete="username">
                </div>
                <div class="u-form-email u-form-group u-label-none">
                    <label for="email" class="u-custom-font u-label u-text-font u-label-2">Email *</label>
                    <input id="email"
                           type="email" placeholder="Enter an Email address" name="email"
                           class="u-border-grey-30 u-input u-input-rectangle u-input-2" required=""
                           maxlength="64" autocomplete="email">
                </div>
                <div class="u-form-group u-label-none u-form-group-3">
                    <label for="password" class="u-custom-font u-label u-text-font u-label-3">Password *</label>
                    <input id="password"
                           type="password" placeholder="Enter your password" name="password"
                           class="u-border-grey-30 u-input u-input-rectangle u-input-3" required="required"
                           maxlength="64" autocomplete="new-password">
                </div>
                <div class="u-form-group u-label-none u-form-group-3">
                    <label for="repeat_password" class="u-custom-font u-label u-text-font u-label-3">Repeat Password *</label>
                    <input id="repeat_password"
                           type="password" placeholder="Repeat your password" name="password"
                           class="u-border-grey-30 u-input u-input-rectangle u-input-3" required="required"
                           maxlength="64" autocomplete="new-password">
                </div>
                <div class="u-align-center u-form-group u-form-submit u-label-none">
                    <a class="custom-page-typo-item u-btn u-btn-submit u-button-style">Register</a>
                    <input id="submit" type="submit" value="submit" class="u-form-control-hidden">
                </div>
            </form>
        </div>
        <p id="error" class="u-align-center u-custom-font u-font-lato u-text u-text-custom-color-25 u-text-1"></p>
    </div>
</section>

{% endblock %}