<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - MaveFund</title>
    <link rel="stylesheet" href="../static/css/login.css">
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico">
</head>
<body>
<h1 class="heading">MaveFund</h1>
<div class="container" id="container">
    <div class="form-container">
        <form id="reset-form" action="#">
            <h1>Reset Password</h1>
            <br>
            <input id="password" type="password"
                   placeholder="New Password"/>
            <input type="hidden" id="token" value="{{ token }}">
            <button id="reg-btn" type="submit">Reset Password</button>
            <p id="reset-error" class="error"></p>
        </form>
    </div>

</div>
<footer>MaveFund™ All rights reserved</footer>
<script src="../static/js/reset-password.js" defer></script>
</body>
</html>