<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - MaveFund</title>
    <link rel="stylesheet" href="../static/css/table.css">
</head>
<body>
<table class="container">
    <thead>
    <tr>
        <th><h1></h1></th>
        {% for date in dates %}
            <th><h1>{{ date }}</h1></th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>

    {% for title, data in table.items() %}

        <tr>
            <td>{{ title }}</td>
            {% for value in data %}
                {% if value %}
                    <td>{{ value|round(2) }}</td>
                {% else %}
                    <td>-</td>
                {% endif %}
            {% endfor %}
        </tr>

    {% endfor %}

    </tbody>
</table>
</body>
</html>
